body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(198, 212, 221);
}

header{
    text-align:center;
}
div{
    border: black solid 0px;
}
.structure-div{
    border: black 5px solid;
    margin:20px;
    border-radius: 15px;
}
  
.row{
     height: 800px;
 }
#city-panel-container{
    height: 700px;
    padding: 0;
    
    
}
#current-city-display{
    display: flex;
    flex-direction: column;
    height: 300px;  
}

#current-city-info{
    display: flex; 
    flex-direction: row;
}

#forecast-chart-container{
    height: 700px;
}

li{
    margin:30px 30px 30px 0px;
    list-style-type:none;
    
}

.city-button{
    width: 300px;
}

#search-button, input{
    margin: 5px 40px;
    width:300px;

}


.current-day-fields{
    width: 150px;
}

#five-day-forecast-box{
    height: 400px;
  /* tester border commented out  border: solid yellow 2px; */
   
}
#five-day-forecast-flexbox{
    height: 300px; 
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
   /* tester border commented out border: red solid 3px;  */
}

.forecast-day{
    height: 250px;
    width: 150px;
    margin: 1px;
    display: flex;
    flex-direction: column;
    background-color: #007bff;
    color: white; 
    font-size: 13px;
    
}

.forecast-date{
    font-weight:bold;
}

.forecast-wind{
    font-size:11px;
}

.forecast-icon{
    height:50px;
    width:50px;
    align-self: center;
}

span{
    /* tester border border: red solid 0px;  */
    margin: 10px;
}


@media screen and (max-width: 360px){
    .structure-div{
        margin: 0;
       
    } 

     #city-panel-container{
      
        margin-bottom: 100px;
    } 
    
    #current-city-display{
        height: 250px;
    }

    #five-day-forecast-flexbox{
        height: 400px;
        width: 280px;
    } 
    
    .forecast-day{
        height: 350px;
        width: 20%;
        
    }
}


